{% include "header.html" %}



<main>
<div class="contact">
    <div>
        <span class="whoami"> $ contact --me </span>
        <h1>Let's talk</h1>
        <p> open to work - reach out anytime. </p>
        <div class="contact-div">
            <div>
                <span>
                    <a href="mailto:onuchukwu.okeke@yahoo.com" target="_blank">
                        <span class="contact-icons"><i class="fa-regular fa-envelope"></i></span>
                        <span>email</span>
                    </a>
                </span>
                <span>
                    <a href="https://github.com/viktoron-git" target="_blank">
                         <span class="contact-icons"><i class="fa-brands fa-github"></i></span>
                        <span>github</span>
                    </a>
                </span>
                <span>
                    <a href="https://www.linkedin.com/in/okeke-victor-3217751b5/" target="_blank">
                         <span class="contact-icons"><i class="fa-brands fa-linkedin-in"></i></span>
                        <span>linkedIn</span>
                    </a>
                </span>
            </div>
        </div>

    </div>
</div>
</main>


{% include "footer.html" %}
