
<footer>
<div >
    <div class="footer">
        <div>
            <ul class="social-links">
                <li>
                    <a href="https://x.com/viktoron_x" target="_blank">
                        <span> <i class="fa-brands fa-x-twitter"></i> </span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/viktoron-git" target="_blank">
                        <span>
                            <i class="fa-brands fa-github"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://t.me/kvngvicktor" target="_blank">
                        <span> <i class="fa-brands fa-telegram"></i> </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</footer>
</body>
</html>